.lightbox-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .lightbox-content {
    background-color: rgba(128, 128, 128, 1); 
    padding: 20px;
    border-radius: 4px;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
  }
  
  .lightbox-close {
    position: absolute;
    top: 100px;
    right: 420px;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
  }

  .lightbox-image {
    width: 100%; 
    height: auto;
    display: block;
    /* margin-bottom: 20px; */
    margin-top: -25px;
  }
  